@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

body {
  background-color: hsl(47, 88%, 63%);
}

.flex-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  min-width: 250px;
  min-height:340px;
  padding-top: 15px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  box-shadow: 6px 6px;
}

.illustration{
  max-width: 220px;
  border-radius:7px;
  align-self: center;
}

.text{
  font-family: Figtree;
}

.learning{
  align-self: left;
  padding: 3px 5px;
  margin: 15px;
  background-color: hsl(47, 88%, 63%);
  max-width: 45px;
  border-radius: 3px;
  text-align: center;
  font-size: 9px;
  font-weight: 800;
}

.date{
  margin-left: 15px;
  font-size: 9px;
  font-weight: 500;
}